# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal

    # Only set image name and log in / push to Docker Hub on an actual push to the master branch.
    # PRs (especially from forks) will skip these steps so they won't fail due to missing secrets.
    - name: Set image name
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: echo "IMAGE_NAME=${{ secrets.DOCKER_HUB_USERNAME }}/autodecisionmaker" >> $GITHUB_ENV

    - name: Log in to Docker Hub
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push Docker image (sha)
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: docker.io/${{ env.IMAGE_NAME }}:${{ github.sha }}
        platforms: linux/amd64

    - name: Tag and push latest (only on master)
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
        docker tag docker.io/${{ env.IMAGE_NAME }}:${{ github.sha }} docker.io/${{ env.IMAGE_NAME }}:latest
        docker push docker.io/${{ env.IMAGE_NAME }}:latest